*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 10%;
  flex-direction: column;
  height: 100vh;
}

#container {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1 0 0;
  height: 70vh;
}

.rowDiv {
  display: flex;
  height: 50px;
  flex:1;
  

}

.element {
    width: 50px;
    height: auto;
    flex: 1;
    background-color: #c9c8a4;

}

.backColor{
  background-color: black;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 0 0;
    width: 100%;
}
button {
  background-color: #967a63;
  color: #ffffff;
  align-self: end;
  margin-bottom: 30px;
  padding: 10px 10px;
  border: 0;
  font-size: 20px;
}

button:hover {
  background-color: rgb(12, 12, 12);
  animation: backwards;
}